In [1]:
import pandas
pandas.read_csv("covid_data.csv")

,Unnamed: 0,Country,Confirmed,Deaths,Mortality Ratio,Latitude,Longitude,Country_Code
0,0,Afghanistan,39145.0,1446.0,3.69,33.939110,67.709953,AF
1,1,Albania,12787.0,370.0,2.89,41.153332,20.168331,AL
2,2,Algeria,50400.0,1698.0,3.37,28.033886,1.659626,DZ
3,3,Andorra,1753.0,53.0,3.02,42.546245,1.601554,AD
4,4,Angola,4363.0,159.0,3.64,-11.202692,17.873887,AO
...,...,...,...,...,...,...,...,...
171,171,Vietnam,1069.0,35.0,3.27,14.058324,108.277199,VN
172,172,Western Sahara,10.0,1.0,10.00,24.215527,-12.885834,EH
173,173,Yemen,2029.0,586.0,28.88,15.552727,48.516388,YE
174,174,Zambia,14443.0,332.0,2.30,-13.133897,27.849332,ZM
175,175,Zimbabwe,7725.0,227.0,2.94,-19.015438,29.154857,ZW